.home-products{
    display: flex;
    gap: 20px;
}
.homeProducts-left{
    width: 25%;
    padding: 20px;
    text-align: center;
}
.homeProducts-left{
   background-color: #fff;
   border-radius: 10px;
   height: max-content;

}
.homeProducts-left h2{
    color: var(--main-color);
    margin-bottom: 30px;
}
.homeProducts-left ul{
    list-style: none;
}
.homeProducts-left  div{
    text-decoration: none;
    background-color: #eee;
    padding: 15px 10px;
    margin-bottom: 30px;
    display: block;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.homeProducts-left div:hover{
    background-color: #ddd;
}
.homeProducts-right{
    width: 70%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.home-product > * {
    margin-bottom: 20px;
}
.home-product{
    width: 30%;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.home-product img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.home-product div{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
.home-product div p{
    font-weight: bold;
    color: var(--main-color);
    font-size: 18px;
}
.home-product span{
    display: block;
    margin-top: 10px;
    background-color: var(--main-color);
    width: max-content;
    width: 70px;
    padding: 5px;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: line-through;
}
.plus-icon{
    border: 1px solid #ddd;
    padding: 7px;
    cursor: pointer;
    transition: 0.5s;
    color: var(--main-color);
    font-size: 18px;


}
.plus-icon:hover{
    background-color: var(--main-color);
    color: #fff;
}

@media screen and (max-width : 480px) {
    .home-products{
        flex-direction: column;
        gap: 40px;
    }
    .homeProducts-left{
        width: 90%;
    }

    .homeProducts-right{
        width: 100%;
    }
    .home-product{
        width: 100%;
    }
    
}