.header{
    width: 80%;
    height: max-content;
    margin-top: 50px;
}
.header-content{
    display: flex !important;
    align-items: center;
}
.header-left > * {
    margin-bottom: 20px;
}
.header-left h2{
    font-size: 40px;
}
.header-left p {
    width: 70%;
    font-size: 18px;
    color: gray;
    line-height: 1.5;
}
.header-left button{
    background-color: var(--main-color);
    width: 150px;
    padding: 15px;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}
.header-left button:hover{
    background-color: rgb(189, 30, 30);
}
.header-right img{
    height: 500px !important;
    width: 500px !important;
    object-fit: contain;
}

@media screen and (max-width : 480px) {
    .header-content{
        flex-direction: column;
    }
    .header-left h2{
        font-size: 30px;
    }
    .header-left p {
        width: 100%;
    }
    .header-right img{
        max-width: 100%;
    }
}